<div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link " routerLinkActive routerLink="/react">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive routerLink="/search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive routerLink="/form">Info</a>
            </li>
          </ul>
        </div>
      </div>

<router-outlet></router-outlet>

