<!-- <div class="container-fluid">
<header>
    <nav>
        <ul class="nav nab-tabs">
            <li class="nav-item"><a class="nav-link" routerLink="/">Recipe Book</a></li>
            <li class="nav-item"><a class="nav-link"routerLinkActive="active" routerLink="/recipes" >Recipe</a></li>
            <li class="nav-item"><a class="nav-link"routerLinkActive="active" routerLink="/shopping-list" >Shopping List</a></li>
            <li class="nav-item"><a class="nav-link"routerLinkActive="active" routerLink="/signup" >Register</a></li>
                    <div ngbDropdown class="d-inline-block">
                        <button 
                        type="button"
                        class="btn dropdown-toggle"ngbDropdownToggle style="margin-left: 1050px;">
                            Manage<span class="caret"></span>
                        </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                     <li>  <a style="cursor: pointer" ngbDropdownItem (click)="onSaveData()">Save Data</a></li> 
                     <li> <a style="cursor: pointer"  ngbDropdownItem (click)="onFetchData()">Fetch Data</a></li> 
                    
                      </div>
                    </div>
        </ul>
        <hr>
    </nav>
</header>
</div> -->

<div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                    <a class="nav-link" routerLink="/">Recipe Book</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link"routerLinkActive="active" routerLink="/recipes" >Recipe</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link"routerLinkActive="active" routerLink="/shopping-list" >Shopping List</a>
            </li>
         <ng-template [ngIf]="!authService.isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup" style="margin-left: 900px;">Register</a> 
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/signin" >LogIn</a>  
            </li>
         </ng-template>
        <li class="nav-item">
           <a style="cursor: pointer;margin-left: 900px;"class="nav-link" (click)="onLogout()" *ngIf="authService.isAuthenticated()">Logout</a>
        </li>
            <li>
                    <div ngbDropdown class="d-inline-block" *ngIf="authService.isAuthenticated()">
                            <button 
                            type="button"
                            class="btn dropdown-toggle"ngbDropdownToggle >
                                Manage<span class="caret"></span>
                            </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                         <li>  <a style="cursor: pointer" ngbDropdownItem (click)="onSaveData()">Save Data</a></li> 
                         <li> <a style="cursor: pointer"  ngbDropdownItem (click)="onFetchData()">Fetch Data</a></li> 
                        
                          </div>
                        </div>
            </li>
          </ul>
        </div>
      </div>