<h1 style="background-color: blue">{{name}}</h1>
<input type="name"[(ngModel)]="name">
<table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
          </tr>
        </thead>
    </table>
<div *ngFor="let employee of emp">
    <!-- {{employee.id}}. {{employee.name}}-{{employee.age}} -->

<table class="table">
        <tbody>
          <tr>
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.age}}</td>
          </tr>
        </tbody>
      </table>
    </div>